* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f5f5f5;
}

/* Header */
header {
    background: #0a3d62;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.hero {
    position: relative;
    height: 70vh;
    display: flex;
    align-items: center;
    padding-left: 50px;
    color: white;
    background: url('https://images.unsplash.com/photo-1601584115197-04ecc0da31d7') center/cover;
}

/* Black overlay */
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}

/* Bring text above overlay */
.hero > div {
    position: relative;
    z-index: 1;
}


.hero h1 {
    font-size: 45px;
}

.hero p {
    max-width: 500px;
    margin-top: 10px;
}

button {
    margin-top: 20px;
    padding: 10px 25px;
    border: none;
    background: orange;
    cursor: pointer;
}

/* Sections */
section {
    padding: 50px;
    background: white;
    margin-top: 10px;
}

.services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 20px;
}

.card {
    background: #eee;
    padding: 20px;
    border-radius: 8px;
}

/* Footer */
footer {
    background: #0a3d62;
    color: white;
    text-align: center;
    padding: 15px;
}

/* Mobile */
@media(max-width:700px){
    nav ul {
        display: none;
        flex-direction: column;
        background: #0a3d62;
        position: absolute;
        top: 60px;
        right: 0;
        width: 200px;
    }

    nav ul.show {
        display: flex;
    }

    .menu-btn {
        display: block;
        cursor: pointer;
    }
}

.menu-btn {
    display: none;
    font-size: 22px;
}
